// Заголовки, загальні БЕМ блоки та інше...
.page {
  // .page_hero
  &__herot {
  }
  &__what {
  }
  &__galery {
  }
  &__blog {
  }
  &__team {
  }
  &__callback {
  }
}

.image {
  flex: 1 1 auto;
  padding-bottom: 220px;
  position: relative;
  width: 100%;
  @media (min-width: $tablet) {
    padding-bottom: 590px;
    height: 100%;
    flex: 1 0 50%;
  }
  & > picture * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.body {
  display: block;
  padding: 79px 20px;
  @media (min-width: $tablet) {
    padding: 62px 32px;
  }
  @media (min-width: $pc) {
    padding: 80px 20px 80px 26px;
  }
}

.subtitle {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: math.div(25, 18);
  }
}
.title {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  font-size: 32px;
  line-height: math.div(44, 32);
  @media (min-width: $tablet) {
    font-size: 40px;
    line-height: math.div(48, 40);
  }
}
.text {
  &:not(:last-child) {
    margin-bottom: 24px;
  }
  line-height: math.div(22, 16);
  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: math.div(25, 18);
  }
}

.button {
  display: inline-flex;
  font-size: 18px;
  line-height: math.div(24.51, 18);
  background-color: $primary;
  padding: 16px 32px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $primaryHover;
  }

  &::before {
    content: url("../img/icons/arrow.svg");
    position: relative;
    display: inline-block;
    margin-right: 10px;
    top: 0;
    left: 0;
    width: 9px;
    height: 18px;
  }
}
