//====================================================================================================
.footer {
  background-color: #333333;
  padding: 20px;

  // .footer__container

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  // .footer__social

  &__social {
    transition: all 0.3s ease 0s;
    font-size: 35px;
    display: flex;
    gap: 25px;
    & * {
      transition: all 0.3s ease 0s;
    }
    & *:hover {
      color: #28a745;
    }
  }

  // .footer__copy

  &__copy {
  }
}
.icon-facebook {
}
.icon-twitter {
}
.icon-youtube {
}
.icon-linkedin {
}

//====================================================================================================
