//====================================================================================================
.header {
  // .header__container
  transition: all 0.3s ease 0s;
  &._header-scroll {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 11px;
  }
  padding: rem(22) 0;
  @media (max-width: $tablet) {
    padding: rem(16) 0;
  }
  @media (min-width: $pc) {
    padding: rem(32) 0;
  }
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  &__container {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    justify-content: space-around;
    align-items: center;
  }
  // .header__logo
  &__logo {
  }
  // .header__menu
  &__menu {
  }
}
.logo {
  display: flex;
  align-items: center;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1);
  }

  // .logo__icon
  &__icon {
    display: flex;
    margin-right: rem(8);
    max-width: rem(40);
    max-height: rem(35);
    @media (min-width: $pc) {
      margin-right: rem(4);
    }
  }
  // .logo__text
  &__text {
    font-size: rem(28);
    line-height: math.div(48, 35);
    @media (min-width: $tablet) {
      font-size: rem(35);
    }
  }
  span {
    color: $primary;
  }
}
.menu {
  // .menu__items

  &__items {
    display: flex;
    gap: rem(12);
    @media (min-width: $tablet) {
      gap: 20px;
    }
    @media (min-width: $pc) {
      gap: 40px;
    }
  }
  // .menu__item
  &__item {
    position: relative;
  }
  // .menu__link
  &__link {
    line-height: math.div(22, 16);
    &::before {
      content: "";
      position: absolute;
      left: -5%;
      bottom: -16px;
      width: 110%;
      height: 4px;
      background-color: $primary;
      transform: scaleX(0);
      transition: all 0.3s ease 0s;
    }

    &:hover::before {
      transform: scaleX(1);
    }
  }
}

//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/
