//====================================================================================================
.webp {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/hero/showcase.webp");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/showcase@2x.webp");
    }
  }
  .what__image {
    background-image: url("@img/what/people.webp");
    @media (min-resolution: 2dppx) {
      background-image: url("@img/what/people@2x.webp");
    }
  }
  .blog__image {
    background-image: url("@img/blog/blog.webp");
    @media (min-resolution: 2dppx) {
      background-image: url("@img/blog/blog@2x.webp");
    }
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/hero/showcase.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/showcase@2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;

  padding-left: 20px;
  padding-right: 20px;

  // .hero__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  // .hero__title
  &__title {
    min-width: 240px;
    font-weight: 600;
    font-size: rem(40);
    line-height: math.div(54.5, 40);
    text-align: center;
    padding-left: 40px;
    padding-right: 39px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @media (min-width: $tablet) {
      font-size: 55px;
      line-height: math.div(75, 55);
    }
    @media (min-width: $pc) {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
  // .hero__text
  &__text {
    text-align: center;
    font-size: rem(26);
    line-height: math.div(32, 26);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: math.div(48, 40);
      max-width: 523px;
    }
    @media (min-width: $pc) {
      max-width: 100%;
    }
  }
}

//====================================================================================================
.what {
  display: grid;
  flex-direction: column;
  min-height: 460px;
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 2fr 52%;
    justify-content: center;
    width: 100%;
  }
  // .what__image

  &__image {
    background-image: url("@img/what/people.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("@img/what/people@2x.jpg");
    }
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 220px;
    @media (min-width: $tablet) {
      height: 100%;
    }
  }
  // .what__body

  &__body {
  }
}
.body {
  background-color: $primary;
  padding: 79px 20px;
  @media (min-width: $tablet) {
    padding: 62px 32px;
  }
  @media (min-width: $pc) {
    padding: 80px 20px 80px 26px;
  }

  // .body__buttom
  &__buttom {
    &_br {
      border: 1px solid #ffffff;
    }
  }
}
.button {
}

//====================================================================================================

.galery {
  padding-top: 56px;
  padding-bottom: 40px;

  // .galery__container

  &__container {
    color: #000;
    text-align: center;
    padding: 20px;
  }

  &__body {
  }

  // .galery__items

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 18px;
    }
    @media (min-width: $pc) {
      grid-gap: 16px;
    }
  }

  // .galery__line

  &__line {
  }
}

.gallery {
  // .gallery__image

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

//====================================================================================================
.blog {
  display: grid;
  min-height: 460px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 2fr 48%;

    justify-content: center;
    width: 100%;
  }
  // .blog__image
  &__image {
    order: 1;
    background-image: url("@img/blog/blog.jpg");
    @media (min-resolution: 2dppx) {
      background-image: url("@img/what/blog/blog@2x.jpg");
    }
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 247px;
    @media (min-width: $tablet) {
      height: 100%;
      order: 2;
    }
  }

  // .blog__body
  &__body {
    order: 2;
    &_blue {
      background-color: #0284d0;
    }
  }
}
.body {
  // .body__subtitle
  &__subtitle {
  }
  // .body__title
  &__title {
  }
  // .body__text
  &__text {
  }
  // .body__buttom
  &__buttom {
    &-blue {
      background-color: transparent;
      border: 1px solid #ffffff;
      &:hover {
        background-color: #fff;
        color: #0284d0;
        border: 1px solid #0284d0;
      }
      &::before {
        content: "";
        display: none;
      }
    }

    // .body__buttom_br
    &_br {
    }
  }
}
.subtitle {
}
.title {
}
.text {
}
.button {
}

//====================================================================================================
.team {
  // .team__container

  &__container {
    color: #000;
    text-align: center;
    padding: 72px 20px 56px 20px;
  }

  &__cards {
    // .team__cards_card
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 18px;
    }
    @media (min-width: $pc) {
      gap: 21px;
    }
    &_card {
    }
  }
}

.card-team {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  // .card-team__image
  &__image {
    &:hover .card-team__overlay {
      transform: translateY(0%);
    }
    &:hover {
      box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.25));
    }
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }
  // .card-team__name
  &__name {
    font-size: 20px;
    line-height: math.div(27, 20);
    @media (min-width: $tablet) {
      font-size: 32px;
      line-height: math.div(32, 32);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  // .card-team__position
  &__position {
    font-size: 16px;
    line-height: math.div(22, 16);
    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: math.div(25, 18);
    }
  }
  // .card-team__overlay
  &__overlay {
    transition: all 0.3s ease 0s;
    position: absolute;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    & * {
      transition: all 0.3s ease 0s;
      color: #fff;
    }
    & *:hover {
      color: $primary;
    }
  }
}
.icon-facebook {
}
.icon-linkedin {
}
.icon-twitter {
}
.icon-youtube {
}
//====================================================================================================
