//====================================================================================================
.webp {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../img/hero/showcase.webp");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero/showcase@2x.webp");
    }
  }
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/hero/showcase.jpg");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero/showcase@2x.jpg");
  }
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100vh;

  padding-left: 20px;
  padding-right: 20px;

  // .hero__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  // .hero__title
  &__title {
    min-width: 240px;
    font-weight: 600;
    font-size: rem(40);
    line-height: math.div(54.5, 40);
    text-align: center;
    padding-left: 40px;
    padding-right: 39px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @media (min-width: $tablet) {
      font-size: 55px;
      line-height: math.div(75, 55);
    }
    @media (min-width: $pc) {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
  // .hero__text
  &__text {
    text-align: center;
    font-size: rem(26);
    line-height: math.div(32, 26);
    &:not(:last-child) {
      margin-bottom: 24px;
    }
    @media (min-width: $tablet) {
      font-size: 40px;
      line-height: math.div(48, 40);
      max-width: 523px;
    }
    @media (min-width: $pc) {
      max-width: 100%;
    }
  }
}

//====================================================================================================
.what {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  // .what__body
  &__body {
    background-color: $primary;
    & .body__buttom {
      &_br {
        border: 1px solid #ffffff;
        &::before {
          content: "";
          display: none;
        }
        &:hover {
          background: #fff;
          color: $primary;
        }
      }
    }
  }
}

//====================================================================================================

.galery {
  padding-top: 56px;
  padding-bottom: 40px;

  // .galery__container
  &__container {
    color: #000;
    text-align: center;
    padding: 20px;
  }

  // .galery__items
  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 8px;
    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 18px;
    }
    @media (min-width: $pc) {
      grid-gap: 16px;
    }
  }
}

.gallery {
  // .gallery__image

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }
}

//====================================================================================================
.blog {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 100%;
  }

  // .blog__body
  &__body {
    &_blue {
      background-color: #0284d0;
    }
  }
}
.body {
  // .body__buttom
  &__buttom {
    &-blue {
      background-color: transparent;
      border: 1px solid #ffffff;
      &:hover {
        background-color: #fff;
        color: #0284d0;
        border: 1px solid #0284d0;
      }
      &::before {
        content: "";
        display: none;
      }
    }
  }
}

//====================================================================================================
.team {
  // .team__container
  &__container {
    color: #000;
    text-align: center;
    padding: 72px 20px 56px 20px;
  }

  &__cards {
    // .team__cards_card
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
      gap: 18px;
    }
    @media (min-width: $pc) {
      gap: 21px;
    }
    &_card {
    }
  }
}

.card-team {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  // .card-team__image
  &__image {
    &:hover .card-team__overlay {
      transform: translateY(0%);
    }
    &:hover {
      box-shadow: (0px 4px 10px rgba(0, 0, 0, 0.25));
    }
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;

    & img {
      width: 100%;
    }
  }
  // .card-team__name
  &__name {
    font-size: 20px;
    line-height: math.div(27, 20);
    @media (min-width: $tablet) {
      font-size: 32px;
      line-height: math.div(32, 32);
    }

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  // .card-team__position
  &__position {
    font-size: 16px;
    line-height: math.div(22, 16);
    @media (min-width: $tablet) {
      font-size: 18px;
      line-height: math.div(25, 18);
    }
  }
  // .card-team__overlay
  &__overlay {
    transition: all 0.3s ease 0s;
    position: absolute;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    transform: translateY(100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    & * {
      transition: all 0.3s ease 0s;
      color: #fff;
    }
    & *:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
//====================================================================================================}

.callback {
  display: flex;
  flex-direction: column;
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
  }
  @media (min-width: $pc) {
    margin-bottom: 5px;
  }
  // .callback__image

  &__image {
  }

  // .callback__body

  &__body {
    background-color: #f4f4f4;
    flex: 1 1 50%;
    & .title {
      color: #000;
    }
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
  // .form__input
  &__input {
    padding: 16px 8px;
    width: 100%;
  }
  &__item {
    position: relative;
    padding-top: 40px;
    margin-bottom: 10px;
  }
  & label {
    position: absolute;
    transition: top 0.5s;
    color: #808080;
    top: 57px;
    left: 10px;
  }

  input:focus {
    outline: none;
    background-size: 100% 100%, 100% 100%;
    transition-duration: 0.3s;
    box-shadow: none;
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: 10px;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 1;
  }
  // .form__button
  &__button {
    max-width: 155px;
    align-items: center;
    justify-content: center;
    &::before {
      content: "";
      display: none;
    }
  }
}
.form__error {
  display: flex;
  position: relative;
  bottom: -10px;
  color: red;
  align-items: center;
}
.button {
}

//====================================================================================================
